<%- include('header.ejs') %> 
<h1>新增文章</h1>
<form action="" method="POST">
    標題<input type="text" id="title" name="title"><br/>
    內容<textarea type="text" id="content" name="content"><br/>
    <input type="submit" value="創建文章">
</form>

<%- include('footer.ejs') %> 