<%- include('header.ejs') %> 
<h1>更改文章</h1>
<form action="" method="POST">
    標題<input type="text" id="title" name="title" value="<%=post.title%>"><br/>
    內容<textarea type="text" id="content" name="content"><%=post.content%></textarea><br/>
    <input type="submit" value="確認更改">
</form>

<%- include('footer.ejs') %> 