<%- include('header.ejs') %> 
    <h1>首頁</h1>

    <form action="/" method="POST">
        用戶名<input type="text" id="username" name="username"><br/>
        密碼<input type="password" name="password" id="password"><br/>
        <input type="submit" value="登入">
    </form>

    <h2><%#=time%></h2>
     <%# if(blogs.length) { %>

        <%# blogs.forEach(article => { %>
            <h3>標題 : <%#=article.title%></h3>
            <p>作者 : <%#=article.author%></p>
        <%# }) %>
    <%# } %>
    <script>
        /* function fetchData(url) {
  fetch(url)
    .then(response => response.json())  // Parse the response as JSON
    .then(data => console.log(data))
    .catch(error => console.error('Error:', error));
}

// Replace 'https://example.com/api/data' with the actual URL you want to fetch data from
const url = 'http://localhost:3001/search?keyword=心';
fetchData(url); */

    </script>
<%- include('footer.ejs') %> 